
<!-- nav bar, link to venues.html.erb-->
<div class="headerphoto">
<div class="container">
<ul class="nav navbar-nav navbar-right">
        <!--<li><%= link_to "Home", root_path %></li>-->
        <li><%= link_to "Book a Venue For Your Event", static_venues_path %></li>
        <% if admin_signed_in? %>
          <li><%= link_to "Log out", destroy_admin_session_path, method: :delete %></li>
        <% else %>
        	<!--<li><%= link_to "Admin Log in", new_admin_session_path, class: "btn btn-default btn-lg" %></li>
         	<li><%= link_to "Admin Sign Up", new_admin_registration_path, class: "btn btn-primary btn-lg" %></li>-->
        <% end %>
</ul>
</br></br>
<h1 class="h1home"><%= image_tag("logo.png", class: "logo") %>sf events club</h1>
</div>
</div>








<div class="container">
<%= flash[:notice] if flash[:notice] %>
<% if admin_signed_in? %>
	<p>Yo <%= current_admin.email %>, add an event.</p>
	<!-- event submission form -->
	<%=form_for(@event) do |event| %>
		<% if @event.errors.any? %>
          <h2><%= pluralize(@event.errors.count, "error")%> made this not save </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>

    	</br>Title: </br>
    	<%= event.text_field :title %></br>
    	</br>URL: </br>
    	<%= event.text_field :url, placeholder: "Type http:// or bug"  %></br>
    	</br>Description: </br>
    	<%= event.text_field :description, placeholder: "Promo codes go here" %></br> <!-- gotta make this field bigger -->
    	</br>Start Date:</br>
    	<%= event.datetime_select :start_date %></br>
    	</br>End Date:</br>
    	<%= event.datetime_select :end_date %></br>
    	</br>Location:</br>
    	<%= event.text_field :location %></br>
    	</br><%= event.submit "POW!" %></br>
    <% end %>

 <!-- list them in order of start date -->
		<% @eventsinfuture.each do |event| %>
			<div class="row">
				</br></br><div class="col-md-5">
					<h4><a href="<%= event.url %>"><%= event.title %></a></h4>
				</div>
			
				<div class="col-md-4">
					<%= event.start_date.strftime("%b %d at %I:%M %p") %>
				</div>
			</div>
			
			<div class="row">	
				<div class="col-md-8">
					</br><%= event.description %></br>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					</br><%= event.location %></br>
				</div>
			</div>
			<%= link_to 'Delete', delete_event_path(event), confirm: 'Are you sure?' %></br></br></br></br>
		<% end %>


<% else %>
<!-- list them in order of start date -->
	<div class="center">
		<% @eventsinfuture.each do |event| %>
			<div class="row">
				</br></br><div class="col-md-5">
					<h4><a href="<%= event.url %>"><%= event.title %></a></h4>
				</div>
			
				<div class="col-md-4">
					<%= event.start_date.strftime("%b %d at %I:%M %p") %>
				</div>
			</div>
			
			<div class="row">	
				<div class="col-md-8">
					</br><%= event.description %></br>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					</br><%= event.location %></br>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
</div><!--end container-->
