<h1>SF Events Club</h1>
<!-- nav bar, link to venues.html.erb-->
<ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Find a Venue", static_venues_path %></li>
        <% if admin_signed_in? %>
          <li><%= link_to "Log out", destroy_admin_session_path, method: :delete %></li>
        <% else %>
        	<li><%= link_to "Admin Log in", new_admin_session_path, class: "btn btn-default btn-lg" %></li>
         	<li><%= link_to "Admin Sign Up", new_admin_registration_path, class: "btn btn-primary btn-lg" %></li>
        <% end %>
</ul>


<%= flash[:notice] if flash[:notice] %>
<% if admin_signed_in? %>
	<p>Yo <%= current_admin.email %>, add an event.</p>
	<!-- event submission form -->
	<%=form_for(@event) do |event| %>
		<% if @event.errors.any? %>
          <h2><%= pluralize(@event.errors.count, "error")%> made this not save </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>

    	</br>Title: </br>
    	<%= event.text_field :title %></br>
    	</br>URL: </br>
    	<%= event.text_field :url %></br>
    	</br>Description: </br>
    	<%= event.text_field :description, placeholder: "Promo codes go here" %></br> <!-- gotta make this field bigger -->
    	</br>Start Date:</br>
    	<%= event.datetime_select :start_date %></br>
    	</br>End Date:</br>
    	<%= event.datetime_select :end_date %></br>
    	</br>Location:</br>
    	<%= event.text_field :location %></br>
    	</br><%= event.submit "POW!" %></br>
    <% end %>

<p>Here are some upcoming SF Events</p> <!-- list them in order of start date -->
		<% @eventsinfuture.each do |event| %>
			</br></br><%= event.title %></br>
			</br><%= event.url %></br>
			</br><%= event.start_date.strftime("%b %d at %I:%M %p") %> to <%= event.end_date.strftime("%b %d at %I:%M %p") %></br>
			</br><%= event.description %></br>
			</br><%= event.location %></br>
			<%= link_to 'Delete', delete_event_path(event), confirm: 'Are you sure?' %>
		<% end %>


<% else %>
	<p>Here are some upcoming SF Events</p> <!-- list them in order of start date -->
		<% @eventsinfuture.each do |event| %>
			</br></br><%= event.title %></br>
			</br><%= event.url %></br>
			</br><%= event.start_date.strftime("%b %d at %I:%M %p") %> to <%= event.end_date.strftime("%b %d at %I:%M %p") %></br>
			</br><%= event.description %></br>
			</br><%= event.location %></br>
		<% end %>
<% end %>
